section{
    height: 420px;
    width: 120px;
    border: 2px solid black;
}

article{
    height: 100px;
    width: 100px;
    border: 2px solid red;
    background-color: yellow;
}

#art{
    /* position: relative; */
    position: absolute;
    top: 20px;
    left: 40px;
    background-color: coral;
}
.box{
    background-color: red;
    border: 2px solid black;
}